/Application Engineer & Dev/labs/lab_1/nbproject/private/
/Application Engineer & Dev/labs/lab_1/build/
/ApplicationEngineerDev/labs/lab_1/target/
/ApplicationEngineerDev/assignments/assignment1/CarApp/nbproject/private/
/.vscode/
/ApplicationEngineerDev/assignments/assignment1/CarApp/build/
/ApplicationEngineerDev/assignments/assignment1/CarApp/dist/
/ApplicationEngineerDev/labs/lab_2/target/
/ApplicationEngineerDev/zixiao_wang_001058840/
/ApplicationEngineerDev/labs/lab_3/target/
/ApplicationEngineerDev/labs/lab_3_5_example/build/
/ApplicationEngineerDev/labs/lab_3_5_example/nbproject/private/
/ApplicationEngineerDev/labs/lab_3-/target/
/ApplicationEngineerDev/labs/lab_3_5/target/
/ApplicationEngineerDev/Summary/summarySep2019/target/
/ApplicationEngineerDev/assignments/assignment3/assignment3/target/
/ApplicationEngineerDev/assignments/assignment3/Uber/nbproject/private/
/ApplicationEngineerDev/assignments/assignment3/Uber/build/
/ApplicationEngineerDev/labs/lab_4/build/
/ApplicationEngineerDev/labs/lab_4/nbproject/private/
/ApplicationEngineerDev/labs/lab_4/dist/
/ApplicationEngineerDev/design_1
/ApplicationEngineerDev/Sub_Works/
/ApplicationEngineerDev/labs/lab_5/Lab_5_skeleton/dist/
/ApplicationEngineerDev/assignments/assignment5/Assignment5_Xerox/nbproject/private/
/ApplicationEngineerDev/assignments/assignment5/Assignment5_Xerox/build/
/ApplicationEngineerDev/labs/lab_7/lab7_skeleton/build/
/ApplicationEngineerDev/labs/lab_7/lab7_skeleton/dist/
/ApplicationEngineerDev/labs/test/nbproject/private/
/ApplicationEngineerDev/labs/test/build/
/Self-learning/Data Structure and Algorithm/
/Self-learning/leetcode/
/Advance in Data Science and Architecture - INFO 7390/INFO_7390/
/Data Science Engineering Methods and Tools – INFO 6105/Lecture12-Introduction to Natural Language Processing(NLP)/Lecture12-day2/data/dm6.fa
Data Science Engineering Methods and Tools – INFO 6105/Lecture12-Introduction to Natural Language Processing(NLP)/Lecture12/data/dm6.fa
/Self-learning/Data Science/Machine-learning/MachineLearning-Stanford-AndrewNg
Advance in Data Science and Architecture - INFO 7390/Deep_reinforcement_learning_Course/
Advance in Data Science and Architecture - INFO 7390/Weeks/Week 6/Reinforcement Learning Thomas Simonini/Deep_reinforcement_learning_Course
Data Management and Database Design - INFO 6210/Final Project/3D Map Project/TEST
*.DS_Store
.DS_Store
Data Management and Database Design - INFO 6210/FinalProject/3D Map Project/TEST/IndoorNavPlaceNote
Advance in Data Science and Architecture - INFO 7390/Assignments